[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.changeColor2
Exec=/usr/bin/ru.auroraos.changeColor2
Name=changeColor2
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=changeColor2
ExecDBus=/usr/bin/ru.auroraos.changeColor2
